/*  */


.hero{
    background-image: url('https://wallpaper.dog/large/5457672.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    color: white;
}